<ion-view view-title="Login">

    <ion-content>
        <form ng-submit="studCtrl.login()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Index No" maxlength="6" style="text-align: center" ng-model="studCtrl.loginData.indexno" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" style="text-align: center" ng-model="studCtrl.loginData.password" required>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log In</button>
                </label>

            </div>
        </form>
    </ion-content>
</ion-view>

